.container {
  padding: 0;

  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2.5rem 0 .8rem 0;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: calc(100vw - 20%);
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: calc(100vw - 15%);
  }
}


