.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.container {
  border-bottom: 1px solid rgb(230, 230, 230) !important;
}

.row {
  display: flex;
  justify-content: space-between;
}

.text__position-left {
  display: flex;
}

.column__number {
  width: 80px;
}

.inner {
  margin-left: .5rem;
}

.column__name {
  width: 120px;
  display: flex;

  .text-size {
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      text-decoration: underline;
    }
  }
}

.column__marketcap {
  width: 120px;
}

.column__volume {
  width: 120px;
}

.column__price {
  width: 90px;
}

.column__supply {
  width: 120px;
}

.column__price {
  width: 120px;
  display: flex;
  justify-content: flex-end;
}

.column--hidden__change-price-inner {
  display: flex;
  justify-content: flex-end;
  width: 120px;
  margin-right: .5rem;
}

.col-lg-12 {
  padding: 0;
}

